* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.top-header {
  background-color: rosybrown;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin-bottom: 2rem;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

main {
  margin: auto;
  max-width: 80%;
}

footer {
  background-color: rosybrown;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.images-container {
  display: flex;
}

figure {
  height: 12rem;
}

img {
  height: 100%;
}
